body{
    font-size: 18px;
    box-sizing: border-box;
}
.wheather_wrapper{
    flex: 1;
    margin-right: 10px;
}
form{
margin-top: 18px;
margin-bottom: 16px;
text-align: center;
}
form div{
    margin-bottom: 15px;
    position: relative;
}
input{
    width: 300px;
    border: 1px solid #3b3232;
    border-radius: 2px;
    height: 18px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.wheather{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}
.wheather_show{
    background-color: #355FCA;
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.wheather_info_description{
    display: grid;
    grid-template-columns: 80px 180px 50px ;
    grid-template-rows: 50px 50px;
    gap: 24px;
    flex-wrap: wrap;

}
#icon_wheather{
    width: 50px;
    height: 50px;
    display: none;
}
.addWidget{
    background-color: #355FCA;
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    width: 150px;
}
.map{
    display: grid;
    grid-column: auto;
}
